@import "assets/css/colors.scss";

$text-color: #333;

body
{
  font-family: Verdana, Geneva, sans-serif;
  word-spacing: 1px;
  color: $text-color;
  font-size: 13px;
  line-height: 20px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Font */

h1
{
  font-size: 24px;
  line-height: 40px;
}
h2
{
  font-size: 20px;
  line-height: 32px;
}
h3
{
  font-size: 16px;
  line-height: 24px;
}
h4
{
  font-size: 13px;
  line-height: 20px;
}
h5
{
  font-size: 11px;
  line-height: 20px;
}

a
{
  color: $primary-color;

  :hover,
  :focus
  {
    text-decoration: none!important;
    color: darken($primary-color, 5%)!important;
  }
}

.siteSection__page-header
{
  background-color: $primary-color;
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  padding: 8px 16px;
  margin: 0 15px;
}
.adminSection__page-header
{
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 24px;
  line-height: 40px;
}

.text-primary
{
  color: $primary-color;
}

.text-secondary
{
  color: $secondary-color;
}

/* Buttons */

.btn-primary
{
  background-color: $primary-color;
  border-color: darken($primary-color, 5%);
  
  :hover,
  :focus,
  :visited
  {
    background-color: darken($primary-color, 5%);
    border-color: darken($primary-color, 10%);
  }
}

.btn-secondary
{
  background-color: $secondary-color;
  border-color: darken($secondary-color, 5%);
  
  :hover,
  :focus,
  :visited
  {
    background-color: darken($secondary-color, 5%);
    border-color: darken($secondary-color, 10%);
  }
}

/* Margins and paddings */

.mb-1
{
  margin-bottom: 10px;
}

.mb-2
{
  margin-bottom: 20px;
}

.mb-3
{
  margin-bottom: 30px;
}


/* Admin content mode */

.d-relative
{
  position: relative;
}

.d-relative .d-modal
{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 30px);
  height: 100%;
  background-color: rgba(0, 123, 255, 0.2);
  outline: 1px dashed #007BFF;
}
.d-relative .d-modal.d-modal-full
{
  width: 100%;
  left: 0;
}
.d-modal .modal.show .modal-dialog
{
  z-index: 3;
}
.d-relative:hover .d-modal
{
  background-color: rgba(0, 123, 255, 0.7);
}
.d-modal .modal-title
{
  font-size: 24px;
  line-height: 40px;
  color: $primary-color;
}

  .dropbox
  {
    outline: 2px dashed grey;
    outline-offset: -10px;
    border-radius: .25rem;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:  center;
  }
  .dropbox:hover
  {
    background: lightblue;
  }
  .dropbox .custom-file
  {
    width: 100%;
    height: 200px;
    opacity: 0;
    z-index: 1;
  }
  .dropbox #inputNewLogotype
  {
    opacity: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }
  .dropbox  #inputNewLogotype + span
  {
    display: none;
  }
  .dropbox p
  {
    position: absolute;
    z-index: 0;
    top: 35%;
    left: 30%;
    width: 40%;
    text-align: center;
    margin: 0;
  }
  .dropbox .remove-btn
  {
    position: absolute;
    z-index: 9999;
    top: 8px;
    left: 8px;
    line-height: 1;
    padding: 13px 15px;
    border-radius: .25rem;
    background-color: red;
    color: #fff!important;
  }
  .dropbox .logotype-preview
  {
    max-height: 170px;
  }

.btn-edit-mode
{
  display: none;
}
.d-relative:hover .d-modal .btn-edit-mode,
.btn-edit-mode.active
{
  display: block;
  border: none;
  background-color: #fff;
  color: #000;
}
.d-relative:hover .d-modal .btn-edit-mode:hover,
.btn-edit-mode.active:hover,
.d-relative:hover .d-modal .btn-edit-mode:focus,
.btn-edit-mode.active:focus
{
  background-color: #ffc107;
  color: #000;
}

.btn-edit-global
{
  width: 45px;
  height: 45px;
  padding: 10px;
}
.btn-edit-global:not(:last-child)
{
  margin-bottom: 10px;
}
.btn-edit-global .fa
{
  line-height: 25px;
  font-size: 25px;
  width: 25px;
  height: 25px;
}

/* Flexbox */

.dFlex{
  display: flex;
}

/* Main site sections and containers */

.layer
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-bottom: 20px;
}

.edit-section
{
  position: fixed;
  top: 0;
  right: 40px;
  width: 45px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.siteSection
{
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.mainSection
{
  flex: 1;
}

.adminContainer
{
  display: flex;
  flex-direction: row;
}
.adminSidebarSection
{
  background-color: #f2f2f2;
  border-right: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
}
.adminContentSection
{
  min-height: 100%;
  display: block;
}
.adminHeaderSection
{
  background-color: $primary-color;
  border-bottom: 1px solid darken($primary-color, 5%);
}
.adminFooterSection
{
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  background-color: $primary-color;
  border-top: 1px solid darken($primary-color, 5%);
}

/* Width and Height */

.w-20
{
  width: 20%;
}

.w-30
{
  width: 30%;
}

.w-33
{
  width: 33.33333%;
}

.w-66
{
  width: 66.66666%;
}

.w-70
{
  width: 70%;
}

.w-80
{
  width: 80%;  
}

/* Lists */

.list-inline
{
  margin-bottom: 0;
}

.tag-list
{
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.tag-list-item
{
  display: inline-block;
  padding: .5rem .75rem;
  border-radius: .25rem;
  border: 1px solid #e2e2e2;
  background-color: #e5e5e5;
  margin-bottom: .5rem;
}

.tag-list-item:hover,
.tag-list-item:focus
{
  cursor: pointer;
  border-color: #a2a2a2;
  background-color: #a5a5a5;
}

.tag-list-item-delete
{
  margin-right: .3rem;
  font-weight: 900;
}

.tag-list-item:not(:last-child)
{
  margin-right: .5rem;
}

/* Buttons */

.button
{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 10px 30px;
  text-decoration: none;
  background-color: transparent;
}

.button:hover
{
  color: #fff;
  text-decoration: none;
}

.button-green
{
  border-color: #3b8070;
  color: #3b8070;
}

.button-green:hover
{
  background-color: #3b8070;
}

.button-grey
{
  border-color: #6e6d72;
  color: #6e6d72;
}

.button-grey:hover
{
  background-color: #6e6d72;
}

.button-orange
{
  border-color: #da510d;
  color: #da510d;
}

.button-orange:hover
{
  background-color: #da510d;
}

.buttonGroup
{
  display: flex;
}

.buttonGroup-row
{
  flex-direction: row;
}

.buttonGroup-column
{
  flex-direction: column;  
}

.buttonGroup__button-row:not(:last-child)
{
  margin-right: 10px;
}

.buttonGroup__button-column:not(:last-child)
{
  margin-bottom: 10px;
}

/* Form group */

.formGroup
{
  display: flex;
}

.formGroup-row
{
  flex-direction: row;
}

.formGroup-column
{
  flex-direction: column;  
}

.formGroup-row:not(:last-child),
.formGroup-column:not(:last-child)
{
  margin-bottom: 10px;
}

.formGroup__label
{
  
}

.formGroup__label-row
{
  
}

.formGroup__label-column
{
  margin-bottom: 5px; 
}

.formGroup__input
{
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 5px 10px;
}

/* Primary Navigation */
.primaryNavigationContainer
{
  padding: 0;
}
.primaryNavigation
{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  margin-left: 33.33333%;
  width: calc(66.66666% - 15px);
}
.primaryNavigation__item
{
  padding: 0;
}
.primaryNavigation__item .nav-link
{
  font-weight: 600;
  color: $primary-color!important;
  padding: 4px 24px;
  border-left: 1px solid $primary-color;
}
.primaryNavigation__item a.nav-link:hover,
.primaryNavigation__item a.nav-link:focus,
.primaryNavigation__item.show a.nav-link,
.primaryNavigation__item.show a.nav-link span
{
  background-color: $primary-color;
  color: #fff!important;
}
.primaryNavigation__item .dropdown-menu
{
  position: absolute;
  float: left;
  border-radius: 0;
  border: none;
  left: -2px;
  margin: 0;
  padding: 0;
  width: auto;
}
.primaryNavigation__item-dropdown
{
  padding: 8px 16px;
  color: $primary-color;
  font-size: 13px;
  background-color: #fefefe;
}
.primaryNavigation__item-dropdown:not(:last-child)
{
  border-bottom: 1px solid $primary-color;
}